Tests/Service1_wsdl.xml

<?xml version="1.0" encoding="utf-8" ?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
<wsdl:types>
<s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
<s:element name="HelloWorld">
<s:complexType />
</s:element>
<s:element name="HelloWorldResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
</s:sequence>
</s:complexType>
</s:element>
<s:element name="StrCat">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="str1" type="s:string" />
<s:element minOccurs="0" maxOccurs="1" name="str2" type="s:string" />
</s:sequence>
</s:complexType>
</s:element>
<s:element name="StrCatResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="StrCatResult" type="s:string" />
</s:sequence>
</s:complexType>
</s:element>
<s:element name="extractName">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="entry" type="tns:TestClass" />
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="TestClass">
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
<s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
</s:sequence>
</s:complexType>
<s:element name="extractNameResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="extractNameResult" type="s:string" />
</s:sequence>
</s:complexType>
</s:element>
<s:element name="createUser">
<s:complexType />
</s:element>
<s:element name="createUserResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="createUserResult" type="tns:TestClass" />
</s:sequence>
</s:complexType>
</s:element>
</s:schema>
</wsdl:types>
<wsdl:message name="HelloWorldSoapIn">
<wsdl:part name="parameters" element="tns:HelloWorld" />
</wsdl:message>
<wsdl:message name="HelloWorldSoapOut">
<wsdl:part name="parameters" element="tns:HelloWorldResponse" />
</wsdl:message>
<wsdl:message name="StrCatSoapIn">
<wsdl:part name="parameters" element="tns:StrCat" />
</wsdl:message>
<wsdl:message name="StrCatSoapOut">
<wsdl:part name="parameters" element="tns:StrCatResponse" />
</wsdl:message>
<wsdl:message name="extractNameSoapIn">
<wsdl:part name="parameters" element="tns:extractName" />
</wsdl:message>
<wsdl:message name="extractNameSoapOut">
<wsdl:part name="parameters" element="tns:extractNameResponse" />
</wsdl:message>
<wsdl:message name="createUserSoapIn">
<wsdl:part name="parameters" element="tns:createUser" />
</wsdl:message>
<wsdl:message name="createUserSoapOut">
<wsdl:part name="parameters" element="tns:createUserResponse" />
</wsdl:message>
<wsdl:portType name="Service1Soap">
<wsdl:operation name="HelloWorld">
<wsdl:input message="tns:HelloWorldSoapIn" />
<wsdl:output message="tns:HelloWorldSoapOut" />
</wsdl:operation>
<wsdl:operation name="StrCat">
<wsdl:input message="tns:StrCatSoapIn" />
<wsdl:output message="tns:StrCatSoapOut" />
</wsdl:operation>
<wsdl:operation name="extractName">
<wsdl:input message="tns:extractNameSoapIn" />
<wsdl:output message="tns:extractNameSoapOut" />
</wsdl:operation>
<wsdl:operation name="createUser">
<wsdl:input message="tns:createUserSoapIn" />
<wsdl:output message="tns:createUserSoapOut" />
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="Service1Soap" type="tns:Service1Soap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
<wsdl:operation name="HelloWorld">
<soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
<wsdl:input>
<soap:body use="literal" />
</wsdl:input>
<wsdl:output>
<soap:body use="literal" />
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="StrCat">
<soap:operation soapAction="http://tempuri.org/StrCat" style="document" />
<wsdl:input>
<soap:body use="literal" />
</wsdl:input>
<wsdl:output>
<soap:body use="literal" />
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="extractName">
<soap:operation soapAction="http://tempuri.org/extractName" style="document" />
<wsdl:input>
<soap:body use="literal" />
</wsdl:input>
<wsdl:output>
<soap:body use="literal" />
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="createUser">
<soap:operation soapAction="http://tempuri.org/createUser" style="document" />
<wsdl:input>
<soap:body use="literal" />
</wsdl:input>
<wsdl:output>
<soap:body use="literal" />
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
<wsdl:operation name="HelloWorld">
<soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
<wsdl:input>
<soap12:body use="literal" />
</wsdl:input>
<wsdl:output>
<soap12:body use="literal" />
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="StrCat">
<soap12:operation soapAction="http://tempuri.org/StrCat" style="document" />
<wsdl:input>
<soap12:body use="literal" />
</wsdl:input>
<wsdl:output>
<soap12:body use="literal" />
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="extractName">
<soap12:operation soapAction="http://tempuri.org/extractName" style="document" />
<wsdl:input>
<soap12:body use="literal" />
</wsdl:input>
<wsdl:output>
<soap12:body use="literal" />
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="createUser">
<soap12:operation soapAction="http://tempuri.org/createUser" style="document" />
<wsdl:input>
<soap12:body use="literal" />
</wsdl:input>
<wsdl:output>
<soap12:body use="literal" />
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="Service1">
<wsdl:port name="Service1Soap" binding="tns:Service1Soap">
<soap:address location="http://saturn/WebService/Service1.asmx" />
</wsdl:port>
<wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
<soap12:address location="http://saturn/WebService/Service1.asmx" />
</wsdl:port>
</wsdl:service>
</wsdl:definitions>